# dependencies
node_modules/

# astro
dist/
.astro/

# cloudflare
.wrangler/

# env files
.env
.env.local
.env.production

# misc
.DS_Store
*.pem
_backup/

# debug
npm-debug.log*

# typescript
*.tsbuildinfo
